# rcov generated
coverage
coverage.data

# Gemfile
Gemfile.lock

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# For emacs:
*~
#\#*
#.\#*

# For vim:
*.swp
#*.rbc
